@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap');


.navbar {
    background: #412766;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.logo {
    width: 80px;
}



.start-content {
    background-image: url(../img/1-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.triangle-image-reverse {
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 100px;
    width: 100%;
    transform: rotateY(360deg) rotateX(0deg);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNGRkZGRkYiPjxwYXRoIGQ9Ik0wIDB2MTQwaDEyODBMMCAweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0wIDQydjk4aDEyODBMMCA0MnoiLz48L2c+PC9zdmc+");
}

#sprawdzone-metody {
    min-height: 650px;
}

.title {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
}

.text{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

.button-container {
    margin-top: 100px;
    background-color: #412766;
    border-radius: 5px;
    
}

.button-container-start-section {
    margin-top: 100px;
    border-radius: 5px;
    
}

.btn-custom-start-section {
    background-color: #412766;
    color: white;
    font-family:'Playfair Display', serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 0;
}

.btn-custom {
    background-color: #412766;
    color: white;
    font-family:'Playfair Display', serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 0;
    flex: 1;
}

.btn-custom:hover,
.btn-custom-start-section:hover {
    background-color: tomato;
    color: white;
}

.btn-start {
    width: 40%;
}

.profile-picture {
    width: 700px;
    height: 500px;
   
}
#moja-historia {
    /* margin-top:50px;
    background-image: linear-gradient(180deg,#f4d6cd 0%,#ffffff 100%); */
}
.text-content{
    font-family: 'Playfair Display', serif;
}

.my-story-title {
    font-weight: 800;
}

.my-story-text {
    font-size: 23px;
}
.my-story-text-main {
    font-size: 27px;
    line-height: 1.7;
}

.footer-section {
    position: relative;
}

.footer {
    background-color: #412766;
    position: relative;
}



.facebook-icon{
    color: blue;
    border-radius: 10px;
    cursor: pointer;

}

.instagram-ico {
    color: white;
    background: linear-gradient(45DEG, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
    border-radius: 10px;
    cursor: pointer;
}

.youtube-ico {
    color: red;
    border-radius: 10px;
    cursor: pointer;
}

.footer-text {
    font-family: 'Playfair Display', serif;
    color: #A698B8;
    margin-bottom: 0;
}

.triangle-image {
    top: 0;
    height: 100px;
    transform: rotateY(180deg) rotateX(180deg);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNGRkZGRkYiPjxwYXRoIGQ9Ik0wIDB2MTQwaDEyODBMMCAweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0wIDQydjk4aDEyODBMMCA0MnoiLz48L2c+PC9zdmc+");
}

.triangle-image-footer {
    margin-top: 20px;
    top: 0;
    height: 50px;
    transform: rotateY(0deg) rotateX(0deg);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzQxMjY2NiI+PHBhdGggZD0iTTAgMHYxNDBoMTI4MEwwIDB6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTAgNDJ2OThoMTI4MEwwIDQyeiIvPjwvZz48L3N2Zz4=");
}


.color-panel {
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg,#f4d6cd 0%,#ffffff 100%);
}

.metody {
    padding: 0 60px;
}

@media only screen and (max-width: 780px) {
    .start-content {
        min-height: 100vh;
    }

    .start-description {
        height: auto;
    }

    .start-content .button-container-start-section {
        width: 100% !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        
    }

    .start-content .button-container-start-section .btn-start {
        width: 90%;
        margin-bottom: 10px;
    }

    .title {
        font-size: 37px;
        text-align: center;
        padding: 0 10px;
    }

    .start-small-description {
        width: 100% !important;
    }

    .footer-wrapper {
        flex-direction: column !important;
        width: 100% !important;
        align-items: center;
    }

    .contact {
        margin-bottom: 10px;
    }

    .triangle-image-reverse {
       height: 50px;
       bottom: -1px;
    }

    .triangle-image-footer {
        top: 1px;
        position: relative;
    }

    .metody {
        padding: 0 0;
    }

    .text{
        font-size: 24px;
        font-weight: 400;
        font-family: 'Playfair Display', serif;
        padding: 0 10px;
    }

    .button-container {
        margin-top: 50px;
        background-color: transparent;
        border-radius: 5px;
        flex-direction: column;
        align-items: center;
        
    }

    .btn-custom {
        border: 1px solid #412766;
        background: transparent;
        color: #412766;
        width: 90%;
        margin-bottom: 10px;
    }

    #moja-historia {
        min-height: 2000px !important;
        padding-bottom: 100px;
    }

    .moja-historia {
        min-height: 2200px !important;
    }

    .my-story-text {
        font-size: 20px;
    }

    .color-panel {
        height: 100px;
    }

    .text-content {
        padding: 0 10px;
        margin: 0 !important;
    }

    .my-story-text-main, .text-content-rest {
        padding: 0 !important;
        font-size: 20px;
    }

    .my-story-text {
        padding: 0 10px !important;
    }

    .about-me-pic {
        flex-direction: column;
    }

    .profile-picture {
        width: 351px;
        height: 250px;
        margin-bottom: 20px;
    }

    
  }

