.numerology {
    background-image: linear-gradient(180deg,#f4d6cd 0%,#ffffff 100%);
}

.numerology-name-wrapper, .numerology-portrait-wrapper, .numerology-horoscope-wrapper {
    margin: 0 90px 0 90px;
}

.numerology-title {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    color: #412766;
}

.numerology-subtitle {
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #A698B8;
}

.numerology-text {
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    line-height: 1.8;
}

.btn-custom {
    background-color: #412766;
    color: white;
    font-family:'Playfair Display', serif;
    font-weight: 800;
    font-size: 25px;
    padding: 20px;
}

.btn-custom:hover {
    background-color: tomato;
    color: white;
}

.btn-portrait:focus {
    background-color: tomato;
    color: white;
}

.btn-name:focus {
    background-color: tomato;
    color: white;
}

.numerology-name, .numerology-horoscope, .numerology-firm {
    background-image:linear-gradient(162deg,#d6cedf 0%,#f4d6cd 100%);
    display: none;
}

.numerology-portrait {
    background-image:linear-gradient(162deg,#d6cedf 0%,#f4d6cd 100%);
}


.btn-price{
    font-size: 15px;
    padding: 10px;
    width: 300px;
}

.store-link {
    color: #412766;
    text-decoration: none;
}

.store-link:hover {
   
    text-decoration: none;
    color: rgb(146, 125, 173);
}


@media only screen and (max-width: 780px) {
    
    .numerology {
        padding: 0 !important;
    }

    .numerology-wrapper {
        padding-bottom: 50px;
    }

    .numerology-content, .numerology-name, .numerology-horoscope, .numerology-firm {
        padding: 0 10px !important;
    }

    .numerology-title {
        font-size: 45px;
        margin-top: 20px;
    }

    .numerology-portrait-wrapper .numerology-title {
        font-size: 45px;
        margin: 15px !important;
    }

    .numerology-portrait-video, .numerology-portrait-video iframe {
        height: 200px;
    }

    .button-container-start-section {
        margin: 0 0 40px 0;
        
        display: flex;
        justify-content: center;
        
    }

    .numerology-portrait-wrapper {
        margin-top: 3rem;
    }
    

    .numerology-subtitle {
        width: 100% !important;
        padding: 0 0 20px 0;
    }

    .numerology-name-wrapper, .numerology-portrait-wrapper, .numerology-horoscope-wrapper {
        margin: 0 0 0 0 !important;
        padding: 0 10px;
    }



    .above-footer {
        margin: 40px 0 0 0 !important;
        line-height: 1.5;
    }

    .footer-wrapper {
        flex-direction: column !important;
        width: 100% !important;
        align-items: center;
    }

    .contact {
        margin-bottom: 10px;
    }

    .triangle-image-reverse {
       height: 50px;
       bottom: -1px;
    }

    .triangle-image-footer {
        top: -1px;
    }





}